<h1>Підготовка до друку документів про вищу освіту</h1>
<p>
  На цьому сайті на основі інформації з замовлень ЄДЕБО (у форматі XML) можна створити<br>
  файли для друку дипломів молодшого бакалавра, бакалавра, магістра (у форматі Microsoft Word .docx).
</p>
<%= form_with do |f| %>
  <%= f.label "Виберіть файл замовлення .xml, одержаний з ЄДЕБО:" %>
  <%= f.file_field :xml_file %>
  <%= f.submit "Надіслати файл на сервер" %>
<% end %>

