.orders {
  margin-top: 10px;
  th {
    background-color: lightgray;
  }
  td {
    padding: 2px 5px 2px 5px;
  }
  tfoot tr th {
    padding-top: 5px;
  }
}

#del_exec_orders {
  padding: 2px 5px 2px 35px;
  vertical-align: top;
}
